---
import { Image } from 'astro:assets';
import EmilyImg from '../../assets/emily-img.png';
---
<section class="page-layout-constrained grid grid-cols-2 gap-r-24 mb-r-48">
  <!-- <div class="bg-[#E4E6BF] text-black-900 p-r-56 rounded-[24px] ">
    <div class="max-w-r-502 flex flex-col gap-r-48">

      <h2 class="title-xl ">
        Emily Eaton
      </h2>
      <h3 class="title-s-regular">
        Creative thinker, detail-driven designer, and advocate for user-first experiences.
      </h3>
      <p class="title-xs-regular text-black-500">
        I collaborate with clients and teams worldwide to design intuitive digital products and meaningful user journeys built on empathy and insight.
      </p>
    </div>

  </div>
  <div>
    <Image 
      src={EmilyImg}
      alt="Emily Eaton"
      class="rounded-[24px] w-full h-full object-cover"
      width={1344}
      height={1708}
    />
  </div> -->

</section>