---
import ButtonAlternative from "../ButtonAlternative.astro";
const {
  message = "Like what you see so far?",
  btnMessage = "more work",
  btnHref = "/work",
  isCard = false,
} = Astro.props;
---
<section class="page-layout-constrained mt-r-32 mb-r-60">
  <div class="flex flex-col items-center pt-r-24 pb-r-24">
    <h3 class="title-m-medium text-black-900 mb-r-32">{message}</h3>
    <ButtonAlternative
      text={btnMessage}
      href={btnHref}
      color="#F9F7F6"
      bg="#1B1816"
      clickColor="#E4FF35"
    />
  </div>
</section>
