---
import ELogoLight from "../icons/ELogoLight.astro"
import EmailOutline from "../icons/EmailOutline.astro"
import PhoneOutline from "../icons/PhoneOutline.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import Twitter from "../icons/Twitter.astro"
import Dribble from "../icons/Dribble.astro"
import Behance from "../icons/Behance.astro"

const socials = [{
  icon: LinkedIn,
  href: "https://www.linkedin.com/in/emily-eaton-0b6a1b1a2/"
}, {
  icon: Twitter,
  href: "https://twitter.com/EmilyEatonNZ"
}, {
  icon: Dribble,
  href: "https://dribbble.com/emily_eaton"
}, {
  icon: Behance,
  href: "https://www.behance.net/emily_eaton"
}]
---
<footer  class="bg-black  body-small-light">
  <div class="page-layout-constrained">
      <!-- mobile -->
 <div class="py-6 pl-r-24 pr-r-24 flex flex-col gap-6 justify-between md:hidden">

  <div class="flex items-center gap-2 justify-between subtext-small">
    <div class="flex gap-r-32 items-center">
      <a href="#">
        <ELogoLight />
      </a>
      <span>Emily Eaton <br class="block md:hidden"> Copyright © 2025</span>
    </div>
  
    <div class="flex gap-r-48 items-center text-[12px] md:subtext-small">
      <a
        href="mailto:e.eaton@outlook.com"
        class="flex items-center gap-2 md:gap-r-5"
      >
        <EmailOutline />
        e.eaton@outlook.com
      </a>
  
    </div>
  </div>

  <div class="flex justify-between w-full items-center">
    {socials?.map((social)=>
      <a
      href={social.href}>
        <social.icon />
      </a>
    )}

  </div>

 </div>
 <!-- desktop -->
 <div class="pt-r-24 pb-r-24 pl-r-24 pr-r-24 md:flex justify-between hidden flex-row ">


    <div class="flex gap-r-32 items-center">
      <a href="#">
        <ELogoLight />
      </a>
      <span>Emily Eaton <br class="block md:hidden"> Copyright © 2025</span>
    </div>
  

  
  <div class="flex gap-r-66 items-center">
    {socials?.map((social)=>
      <a
      href={social.href}>
        <social.icon />
      </a>
    )}

  </div>
  <div class="flex gap-r-48 items-center">
    <a
      href="mailto:e.eaton@outlook.com"
      class="flex items-center gap-r-5"
    >
      <EmailOutline />
      e.eaton@outlook.com
    </a>

  </div>
 </div>
  </div>
</footer>
<style>
  footer, footer svg{
    color:#8A8786;
    fill:#8A8786 !important;
  }
  footer a:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
</style>