---
import ELogoLight from "../icons/ELogoLight.astro"
import EmailOutline from "../icons/EmailOutline.astro"
import PhoneOutline from "../icons/PhoneOutline.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import Twitter from "../icons/Twitter.astro"
import Dribble from "../icons/Dribble.astro"
import Behance from "../icons/Behance.astro"

const socials = [{
  icon: LinkedIn,
  href: "https://www.linkedin.com/in/emily-eaton-0b6a1b1a2/"
}, {
  icon: Twitter,
  href: "https://twitter.com/EmilyEatonNZ"
}, {
  icon: Dribble,
  href: "https://dribbble.com/emily_eaton"
}, {
  icon: Behance,
  href: "https://www.behance.net/emily_eaton"
}]
---
<footer  class="bg-black page-layout-constrained body-small-light">
 <div class="pt-r-24 pb-r-24 pl-r-24 pr-r-24 flex justify-between">

  <div class="flex gap-r-32 items-center">
    <a href="#">
      <ELogoLight />
    </a>
    <span>Emily Eaton Copyright © 2025</span>
  </div>

  <div class="flex gap-r-48 items-center">
    <a
      href="mailto:e.eaton@outlook.com"
      class="flex gap-r-5"
    >
      <EmailOutline />
      e.eaton@outlook.com
    </a>
    <a
      href="tel:+642108759233"
      class="flex gap-r-5"
    >
      <PhoneOutline />
      +64 21087 59233
    </a>
  </div>

  <div class="flex gap-r-66 items-center">
    {socials?.map((social)=>
      <a
      href={social.href}>
        <social.icon />
      </a>
    )}

  </div>

 </div>
</footer>
<style>
  footer, footer svg{
    color:#8A8786;
    fill:#8A8786 !important;
  }
  footer a:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
</style>