---
import  ELogoBlack  from "../icons/ELogoBlack.astro"
import MailBlack from '../icons/MailBlack.astro';
const navLinks = [{
  label: 'Work',
  href: '/work'
}, {
  label: 'About',
  href: '/about'
}, {
  label: 'Freelance',
  href: '/freelance'
}]
---

<nav class=" page-layout-constrained">
  <div class="nav-container flex justify-between items-center">
    <a href="/"><ELogoBlack class="h-6 w-6" /></a>
    <ul class="flex gap-4 h-8 items-center">
      {navLinks?.map(({
        label,
        href
      })=>{
        return  <li class="button-s"><a href={href}>{label}</a></li>
      })}
      
    </ul>
    <a href="/contact"><MailBlack class="h-6 w-6" /></a>
  </div>
</nav>
<style>
  
nav{
  margin-top:21px;
  margin-bottom:21px;
}
.nav-container {
  padding: 24px 32px;

}
li {
  
    padding:6px 8px;
  }
  a:hover{
    opacity: 0.8;
    cursor: pointer;
  }

</style>