---
import  ELogoBlack  from "../icons/ELogoBlack.astro"
import MailBlack from '../icons/MailBlack.astro';
import Hamurger from "../icons/Hamurger.astro";
import MobileFlyoutMenu from "../MobileFlyoutMenu.astro";
const navLinks = [
  {
  label: 'Work',
  href: '/#work'
}, 
{
  label: 'Services',
  href: '/#services'
}, 
{
  label: 'About',
  href: '/#about'
}, 
{
  label: 'FAQ',
  href: '/#faq'
}]
---
<header>
  
<nav class="px-8 py-[28px] md:page-layout-constrained">
  <div class="flex justify-between items-center">
    <a href="/"><ELogoBlack class="h-6 w-6" /></a>
    <ul class=" gap-4 h-8 items-center hidden md:flex">
      {navLinks?.map(({
        label,
        href
      })=>{
        return  <li class="button-s"><a href={href}>{label}</a></li>
      })}
      
    </ul>
    <a href="/contact" class=" hidden md:flex"><MailBlack class="h-6 w-6" /></a>
    <!-- <button class="flex md:hidden">
      <Hamurger class="h-6 w-6" />
    </button> -->
    <MobileFlyoutMenu navLinks={navLinks} />
  
  </div>
</nav>
</header>
<style>
  

  a:hover{
    opacity: 0.8;
    cursor: pointer;
  }

</style>