---
import AnimatedMesh from "../AnimatedMesh.astro";
import Button from "../Button.astro";
---

 <section class= "page-layout-constrained">
  <div class="bg-gradient-to-b from-champagne to-white rounded-xl pt-[72px]  pb-8">
    <div class="flex flex-col items-center mx-auto max-w-[313px]">
      <h2 class="title-l mb-3">
        Simple,<br> smart design for ambitious businesses
      </h2>
      <h3 class="subtitle-l mb-8">
        Crafting websites that feel like you. Clear, confident, and built to convert.
      </h3>
      <Button 
        text="Book your free website audit"
        isFullWidth={true}
      />
      <p class="mt-3 body-small-alt">
        30 minute no-obligation consultation
      </p>
    </div>
     
  </div>
 </section>


