---
---
<section class="page-layout-constrained">
  <div class="px-8 py-24 bg-gradient-to-b from-champagne to-white md:bg-none rounded-xl max-w-[60vw] mx-auto md:text-center">
    <h2 class="title-m mb-6 ">
      Design with purpose.
    </h2>
    <p class="body">Good design starts with strong foundations. I use proven UX patterns, clear copy, and classic design principles to create work that tells your story and helps your business stand out.</p>
  </div>
 
</section>