---
import Hamurger from "./icons/Hamurger.astro";
import ELogoBlack from "./icons/ELogoBlack.astro";
import MailBlack from "./icons/MailBlack.astro";
const { navLinks } = Astro.props;
---

<div class="isolate z-50 md:hidden flex">
  <div class="mx-auto">
    <button type="button" class="toggle-flyout inline-flex items-center gap-x-1 text-sm/6 font-semibold text-gray-900" aria-expanded="false">
      <Hamurger />
    </button>
  </div>

  <!-- Flyout menu -->
  <div
  class="flyout-menu absolute inset-x-0 top-0 bg-white transform transition-all ease-out duration-600 opacity-0 translate-y-2 pointer-events-none  "
  aria-hidden="true"
  data-open="false"
>
    <div class="flex justify-between items-center px-8 py-[28px] pb-0">
      <a href="/"><ELogoBlack class="h-6 w-6" /></a>

      <button type="button" class="toggle-flyout inline-flex items-center gap-x-1 text-sm/6 font-semibold text-gray-900">
        <Hamurger />
      </button>
    </div>

    <div class="relative flex justify-between w-full bg-white px-8 py-[28px] top-0">
      <ul class="h-[28px] justify-between items-center w-full flex">
        {navLinks?.map(({ label, href }) => (
          <li class="button-s"><a href={href}>{label}</a></li>
        ))}
        <li>
          <a href="#contact" ><MailBlack class="h-6 w-6" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.toggle-flyout');
  const menu = document.querySelector('.flyout-menu');

  buttons.forEach((btn) =>
    btn.addEventListener('click', () => {
      const isOpen = menu.dataset.open === 'true';

      if (isOpen) {
  // Close (fade out + slide up)
  menu.classList.remove('opacity-100', 'translate-y-0');
  menu.classList.add('opacity-0', 'translate-y-2', 'pointer-events-none');
  menu.setAttribute('aria-hidden', 'true');
  menu.dataset.open = 'false';
} else {
  // Open (slide in + then fade in)
  menu.classList.remove('opacity-0', 'translate-y-2', 'pointer-events-none');
  menu.classList.add('opacity-100', 'translate-y-0');
  menu.setAttribute('aria-hidden', 'false');
  menu.dataset.open = 'true';
}
    })
  );
</script>
